<div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>    
    <a href="{{ site.url }}" class="pag-principal">Página Principal</a>  
    <input type="text" id="myInput" onkeyup="searchNav()" placeholder="Pesquisar..." title="Type in a name">    
    <div id="menuList">     
        {%if page.projeto == "fastQuestColeta" %}
            {% for post in site.posts %}
                {%if post.projeto == "fastQuestColeta" %}
                    <a href="{{ post.permalink }}" class="options">{{ post.title }}</a>                           
                {% endif %}        
            {% endfor %}    
        {% else %}        
            {% for post in site.posts %}
                {%if post.projeto == page.projeto %}
                    {%if post.pasta %}
                    {% else %}
                        {%if post.nomePasta %} {% else %}
                            <a href="{{ post.permalink }}" class="options">{{ post.title }}</a>
                        {%endif%}
                    {%endif%}
                {%endif%}
            {%endfor%}

            {% for list in site.posts %}
                {%if list.projeto == page.projeto %}
                {%if list.nomePasta %}
                    <div class="dropdown">
                        <a href="{{ list.permalink }}">{{ list.title }}</a>                                                
                        <i class="fa fa-caret-down dropdown-btn"></i>
                        <div class="dropdown-container">
                            {% assign sorted_threat_posts = site.posts | sort: 'title' %}
                            {% for link in sorted_threat_posts | sort: 'title' %}
                                {% if list.nomePasta == link.pasta %}
                                    <i class="fa fa-angle-right sub-item-menu"></i>
                                    <a href="{{ link.permalink }}" class="options">{{ link.title }}</a>
                                {%endif%}
                            {% endfor %}
                        </div>
                    </div>
                    {%endif%}                        
                {% endif %}
            {%endfor%}
        {% endif %}
    </div>    
</div>



