<div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>    
    <a href="{{ site.url }}" class="pag-principal">Página Principal</a>  
    <input type="text" id="myInput" onkeyup="searchNav()" placeholder="Pesquisar..." title="Type in a name">    
    <div id="menuList">            
            {% for post in site.posts %}
                {%if post.projeto == page.projeto %}
                    {%if post.pasta %}
                    {% else %}
                        {%if post.nomePasta %} {% else %}
                            <a href="{{ post.permalink }}" class="options">{{ post.title }}</a>
                        {%endif%}
                    {%endif%}
                {%endif%}
            {%endfor%}

            {% assign sorted_threat_posts = site.posts | sort: 'section' | where_exp: "item", "item.projeto == page.projeto" %}

            {% for list in sorted_threat_posts %}
                    {%if list.nomePasta %}
                        <div class="dropdown">
                            {% assign subMenus = sorted_threat_posts | where_exp: "item", "item.mainsection == list.section" %}

                            <a href="{{ list.permalink }}">{{ list.title }}</a>  
                            {% if subMenus.size > 0 %}
                                <i class="fa fa-caret-down dropdown-btn"></i>
                            {%endif%}     
                            <div class="dropdown-container">
                                {% for link in subMenus %}
                                        {% assign subSubMenus = sorted_threat_posts | where_exp: "item", "item.mainsection == link.section" %}

                                        <div class="dropdown">
                                            {% if subSubMenus.size == 0 %}
                                            <i class="fa fa-angle-right sub-item-menu"></i>
                                            {%endif%}   
                                            <a href="{{ link.permalink }}" class="options">{{ link.title }}</a>

                                            {% if subSubMenus.size > 0 %}
                                            <i class="fa fa-caret-down dropdown-btn"></i>
                                            {%endif%}

                                            <div class="dropdown-container">
                                                {% for link2 in subSubMenus %}
                                                            {% if link.section == link2.mainsection %}
                                                                <i class="fa fa-angle-right sub-item-menu"></i>
                                                                <a href="{{ link2.permalink }}" class="options">{{ link2.title }}</a>
                                                            {%endif%}
                                                {% endfor %}
                                            </div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    {%endif%} 
            {%endfor%}
    </div>    
</div>



