.logo-svg{
    position: absolute;
    right: 3em;
    height: 60%;
    margin-top: 10px !important;
    top: 0;
}
.logo-menu{
    margin-bottom: 1.2em;
    padding: 1.2em;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10003 !important;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 1px 0 10px 0px grey;
}
.sidenav .active{
    color: rgb(0,174,172);
}
.sidenav .pag-principal{    
    padding: 0px;
    text-align: center;
    border-top: none;
    font-size: 1.3em;
}
.sidenav .closebtn:hover{
    cursor: pointer;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    border-top: 1px solid #e0e0e0;    
}
.sidenav .options{
    background: white;
}
.sidenav a:hover {    
    color: rgb(0,174,172);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#menuList{
    border-bottom: 1px solid #e0e0e0;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
h1,h2,h3,h4{    
    text-align: center;
}
p{
    text-align: justify;
    color: #000000;
}
ol>li{
    color: #000000;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10004 !important; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}          
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;                                                       
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.menuPrincipal{
    margin-top: 3em !important;
}
.DescProjeto{
    color: white;
}
.dropdown-container {
    display: none;
    background-color: grey;
    padding-left: 8px;
}
.dropdown-btn{
    margin-left: .8em;
    position: absolute;
    margin-top: -1.6em;
    color: grey;
}
.fa-caret-down:hover{
    color: rgb(0,174,172);
}
.sub-item-menu{
    margin-left: 1.1em;
    position: absolute;
    margin-top: .7em;
    color: grey;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}