{% include head.html %}
<body>    
    <div class="main" id="main">
        <header id="header">
            <a href="" class="logo">Menu Principal</a>
            <img src="{{ "/assets/fonts/HSRTech_RGB_Cor-cinza.svg" | prepend: site.baseurl}}" alt="" class="logo-svg">
        </header>
        <div class="container">
            <div class="row menuPrincipal">
                <div class="6u 12u$(small)">
                    <div class="flex-item box">
                        <div class="image fit fqc">                                                        
                        </div>
                        <div class="content">                            
                            <a href="{{"/fastQuestColeta/" | prepend: site.baseurl }}"><h3>FastQuest Coleta</h3></a>
                            <h4>Manual do sistema FastQuest Coleta</h4>
                        </div>
                    </div>
                </div>
                <div class="6u 12u$(small)">
                    <div class="flex-item box">
                        <div class="image fit fqa">

                        </div>
                        <div class="content">                            
                            <a href="{{"/fastQuestAdmin/" | prepend: site.baseurl }}"><h3>FastQuest Admin</h3></a>
                            <h4>Manual do sistema FastQuest Admin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row menuPrincipal">
                <div class="6u 12u$(small)">
                    <div class="flex-item box">
                        <div class="image fit fqc">                                                        
                        </div>
                        <div class="content">                            
                            <a href="{{"/fastQuestColetaDocTec/" | prepend: site.baseurl }}"><h3>FastQuest Coleta - Documentação Técnica</h3></a>
                            <h4>Manual técnico do FastQuest Coleta</h4>
                        </div>
                    </div>
                </div>
                <div class="6u 12u$(small)">
                    <div class="flex-item box">
                        <div class="image fit fqa">

                        </div>
                        <div class="content">                            
                            <a href="{{"/fastQuestAdminDocTec/" | prepend: site.baseurl }}"><h3>FastQuest Admin - Documentação Técnica</h3></a>
                            <h4>Manual técnico do sistema FastQuest Admin</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</body>
</html>
